#box{
    border-radius:25px;
    border:2px solid;
    padding:20px;
    width:800px;
    height:2px;
}
table,th,td{
    border:3px solid black;
    border-collapse: collapse;
    text-align:center;
}
th,td{
    padding:5px;
    text-align: center;
}
#hey{
    text-align: center;
    tab-size: 5000px;
}
#heyy{
    text-align: center;
    tab-size: 5000px;
}